<!-- Header  -->
{% comment %} {% load static %} {% endcomment %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% comment %} <a class="navbar-brand" href="#">
        <img src="{% static 'image/logo.jpg' %}" height="30">
    </a> {% endcomment %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Blog </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    <div>   
    {% if user.is_authenticated %}
                <p align="center">Welcome, <i style="color:green;font-weight:700"> {{ user.username }} </i>. Are you Wan't <a href="{% url 'logout' %}">Log out</a>.</p>
            {% else %}
                <p>Welcome, new user. Please <a  href="{% url 'login' %}"> log in. </a></p>
    {% endif %}
    </div>
    </div>
</nav>