{% extends "base/base.html" %}

{% block body %}
<h1>Create blog <h1>
<input id="name" />
    <button onclick="create()"> Create</button>
    <a href="{% url 'blog_list'%}"> Canel</a>
    
    <div id= 'message'> </div>
{% endblock body %}
    
    
{% block script %}
<script>
    function create(){
        var name = $("#name").val();

        $.ajax({
            url:"{% url 'blog_post_create' %}",
            method:"POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'name' : name
            },
            success: function(result){
                $('#message').text(result)
            },
            error: function(result){
                console.error(result)
            }
        })
    }
</script>
{% endblock script %}
