
{% extends 'base/base.html'%}

{% block body %}
<h1>Blog List </h1>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action | <a href="{% url 'blog_create'%}"> Add New Blog</a></th>
                </tr>
            </thead>
            <tbody>
            {% for blog in list_all_blog  %}
                <tr>
                    
                        <td> {{blog.id}}</td>
                        <td> {{blog.name}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


