{% extends 'base/base.html' %}

{% block create %}

<h1>Blog Create</h1>

<input id="name" />
<button onclick="create()">Create</button>
<div id=message></div>

<script>
  function create() {
    var name = $("#name").val();

    $.ajax({
      url: "{% url 'blog_post_create' %}",
      method: "POST",
      data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'name' : name
      },
      success: function (result) {
        $('#message').text(result)
      },
      error: function (result) {
        console.error(result)
      }
    });
  }
</script>
{% endblock %}
