{% extends 'base/base.html' %}

{% block body %}
  <!-- Body -->
  <a class="btn primary-tbn" href="{% url 'blog_create' %}">Create</a>
  <div class="badge badge-primary text-wrap" style="width: 6rem;">
    This text should wrap.
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for blog in list_all_blog %}
      <tr>
        <td>{{ blog.id }}</td>
        <td>{{ blog.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}