<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for blog in list_all_blog %}
    <tr>
      <td>{{blog.id}}</td>
      <td>{{blog.name}}</td>
      <td class="text-right">
        <a class="btn btn-primary" 
          href="{% url 'blog_detail' pk=blog.id %}"
          data-toggle="tooltip" data-placement="top" title="Detail"
        >
          <i class="far fa-eye"></i>
        </a>
        {% if perms.blogs.change_blog %}
        <a class="btn btn-warning" 
          href="{% url 'blog_update' pk=blog.id %}"
          data-toggle="tooltip" data-placement="top" title="Update"
        >
          <i class="fas fa-wrench"></i>
        </a>
        {% endif %}
        {% if perms.blogs.delete_blog %}
        <a class="btn btn-danger" 
          href="{% url 'blog_delete' pk=blog.id %}"
          data-toggle="tooltip" data-placement="top" title="Delete"
        >
          <i class="fas fa-trash"></i>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>